/*========================Designed by Fabian Shamano fabianshamano@yahoo.com======================*/

						/*-------------------Body------------------------*/
						/*-------------------Body------------------------*/
						/*-------------------Body------------------------*/

.carLogo {
	background: url(../../images/Backgrounds/backgroundgray.png) repeat;
	position:relative;
	border-top-right-radius:8px;
	width:590px;
	height:260px;
	float:right;
	box-shadow: 0px -2px 5px #333;	
}
/*========================Designed by Fabian Shamano fabianshamano@yahoo.com======================*/