/*========================Designed by Fabian Shamano fabianshamano@yahoo.com======================*/
						/*-------------------Body------------------------*/
						/*-------------------Body------------------------*/
						/*-------------------Body------------------------*/

body {
	background: url(../../images/Backgrounds/background2.jpg) no-repeat center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
/*========================Designed by Fabian Shamano fabianshamano@yahoo.com======================*/
