/*========================Designed by Fabian Shamano fabianshamano@yahoo.com======================*/

						/*-------------------Body------------------------*/
						/*-------------------Body------------------------*/
						/*-------------------Body------------------------*/

body {
	background: url(../../images/Backgrounds/backgroundToyota.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	font family: helvtica, arial, sans-serif;
}
/*========================Designed by Fabian Shamano fabianshamano@yahoo.com======================*/